-f https://download.pytorch.org/whl/torch_stable.html
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
future==0.18.2
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
urllib3==1.26.4
Werkzeug==1.0.1
requests==2.25.1
MarkupSafe==1.1.1
numpy==1.19.5
opencv-python-headless==4.5.3.56
requests-oauthlib==1.3.0
torch==1.9.0+cpu
torchvision==0.10.0+cpu